.cooking-timer {
    background: var(--neutral-50);
    color: var(--neutral-700);
    min-height: 100vh;
    padding: 2rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    z-index: 100;
    min-height: calc(100dvh - 80px);
    top: 80px;
    left: 0;
    translate: -100%;
    transition: translate 0.3s;
    border-right: 1px solid var(--neutral-300);
}

.cooking-timer.open {
    translate: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.cooking-timer-toggler {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    width: max-content;
    background: var(--accent-info-600);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 8px 8px 0 0;
    position: absolute;
    top: 50%;
    right: 0;
    translate: 59.3% -50%;
    rotate: 90deg;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.cooking-timer-toggler i {
    rotate: 180deg;
    transition: rotate 0.3s;
}

.cooking-timer.open .cooking-timer-toggler i {
    rotate: 0deg;
}

.cooking-timer h2 {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.wheel-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.wheel-column {
    width: 90px;
    text-align: center;
}

.wheel-label {
    font-size: 0.75rem;
    color: var(--neutral-500);
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
}

.wheel-mask {
    position: relative;
    height: 144px; /* 3 * 48px */
    overflow: hidden;
    border-radius: 8px;
    background: var(--neutral-100);
}

.wheel-list {
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    padding: 3rem 0; /* 1 item top + 1 item bottom */

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.wheel-list::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}

.wheel-item {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    font-size: 1.25rem;
    color: var(--neutral-600);
}

.wheel-item.active {
    color: var(--neutral-700);
    font-size: 1.5rem;
    font-weight: 600;
}

.wheel-highlight {
    position: absolute;
    top: 48px; /* middle item */
    left: 0;
    right: 0;
    height: 48px;
    border-top: 1px solid var(--neutral-300);
    border-bottom: 1px solid var(--neutral-300);
    pointer-events: none;
}

/* Clock */
.clock-wrapper {
    position: relative;
    width: 280px;
    height: 280px;
    margin-bottom: 2rem;
}

.clock-ring {
    transform: rotate(90deg) rotateY(180deg);
}

.ring-bg {
    fill: none;
    stroke: var(--neutral-300);
    stroke-width: 12;
}

.ring-progress {
    fill: none;
    stroke: var(--primary-600);
    stroke-width: 12;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s linear;
}

.clock-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    font-weight: 700;
}

.controls {
    display: flex;
    gap: 1rem;
}

@media (max-width: 1200px) {
    .cooking-timer h2 {
        margin-bottom: 1rem;
    }

    .cooking-timer {
        right: 0;
        left: initial;
        translate: 0 -100%;
        min-height: max-content;
        border-bottom: 1px solid var(--neutral-300);
        border-radius: 0 0 0 8px;
    }

    .wheel-wrapper {
        gap: 0rem;
        margin-bottom: 1.5rem;
    }

    .wheel-mask {
        border-radius: 0;
    }

    .cooking-timer.open {
        translate: 0;
    }

    .cooking-timer.open {
        translate: 0;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    .cooking-timer-toggler {
        border-radius: 0 0 8px 8px;
        position: absolute;
        top: initial;
        right: 50%;
        bottom: 0;
        translate: 50% 100%;
        rotate: 0deg;
        margin-bottom: 0;
    }

    .cooking-timer-toggler i {
        rotate: 0deg;
    }

    .cooking-timer.open .cooking-timer-toggler i {
        rotate: 180deg;
    }

    .clock-wrapper {
        position: relative;
        width: 220px;
        height: 220px;
        margin-bottom: 1rem;
    }

    .clock-ring {
        width: 220px;
        height: 220px;
    }

    .clock-text {
        font-size: 2.1rem;
    }
}

@media (max-width: 560px) {
    .cooking-timer h2 {
        font-size: 1.15rem;
    }

    .cooking-timer {
        top: 73px;
    }

    .wheel-column {
        width: 70px;
        text-align: center;
    }

    .wheel-item {
        font-size: 1.15rem;
    }

    .wheel-item.active {
        font-size: 1.35rem;
    }

    .clock-wrapper {
        position: relative;
        width: 200px;
        height: 200px;
        margin-bottom: 1rem;
    }

    .clock-ring {
        width: 200px;
        height: 200px;
    }

    .clock-text {
        font-size: 1.8rem;
    }
}
