#forgot-password .container,
#reset-password .container {
    max-width: 450px;
    margin: auto;
    padding-block: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#forgot-password h1.title,
#reset-password h1.title {
    font-size: 1.35rem;
    font-weight: 600;
}

#forgot-password p.subtitle,
#reset-password p.subtitle {
    margin-top: .5rem;
}

#forgot-password h1.title,
#reset-password h1.title,
#forgot-password p.subtitle,
#reset-password p.subtitle {
    text-align: center;
}

#forgot-password form,
#reset-password form {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.return-to-login-link {
    display: block;
    margin-top: 1rem;
    color: var(--neutral-700);
    font-weight: 600;
    text-decoration: underline;
    font-size: .9rem;
}